// Primary colors
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095ff;
$BrainFlix-Sliver: #afafaf;
$BrainFlix-White: #ffffff;

// Secondary colors
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065ad;
$BrainFlix-Mercury: #e1e1e1;
$BrainFlix-Alabaster: #fafafa;
